<%# ! いらなければファイルを削除 %>
<%# <%= turbo_stream.update "all_click_count"  do %>
  <%# <%= render @count %>
<%# <% end %>

<%# <%= turbo_stream_from "counts" %> <!-- このストリームを購読する -->
<%# <div id="all_click_count">  %>
  <%# <%= render @count %> 
<%# </div>  %>

<%# <%= turbo_stream.update "session_click_count"  do %>
  <%# <%= render partial: 'session_count' %>
<%# <% end %> 