<%= turbo_stream_from "counts" %>

<header>
</header>

<main class="max-w-2xs mx-auto text-center my-40 max-sm:mt-16 max-sm:mb-20">
  <div class="text-center">
    <p class="text-3xl max-sm:text-2xl">らんぱすー</p>
    <p class="text-6xl mt-6 font-normal", id="all_click_count"><%= @count&.count %></p>
  </div>

  <%= audio_tag "/runpath.wav", id: "audio-play" %>

  <%= form_with url: clickcounts_path, method: :post, local: false, data: { turbo_method: :post } do |f| %>
    <%= f.submit 'らんぱすー', id: "audio-btn", 
        class: "mt-12 mb-6 group relative inline-flex h-12 items-center justify-center overflow-hidden 
                rounded-md bg-[#f09134] hover:bg-[#F4A261] hover:[box-shadow:0px_4px_1px_#E76F51] 
                p-10 max-sm:p-8 font-medium text-white text-3xl max-sm:text-2xl leading-0 transition-all 
                [box-shadow:0px_4px_1px_#E76F51] active:translate-y-[2px] active:shadow-none" %>
  <% end %>
  
  <div id="volume-loud" class="mt-2" >
    <%= image_tag 'volume-loud.svg', class: 'mx-auto' %>
  </div>
  <div id="volume-mute", class="hidden mt-2">
    <%= image_tag 'volume-mute.svg', class: 'mx-auto'  %>
  </div>

  <%# <%= render 'reset_button' %> 

  <div class="mt-10">
    <div class="text-center">
      <P>あなたの&nbsp;らんぱすー</p>
      <p class="text-3xl mt-2 font-normal", id="session_click_count">0</p>
      <button type='button' id='session-update-button' class='bg-[#8abea3] hover:bg-[#a3cca9] hover:[box-shadow:0px_4px_1px_#81C784] text-white font-medium py-2 px-4 overflow-hidden rounded-md mt-4 transition-all [box-shadow:0px_4px_1px_#6DA98A] active:translate-y-[2px] active:shadow-none'>
        りろーど
      </button>
    </div>

    <div class="my-12">
      <button type='button' id='x-post-button' class="text-black bg-[#AEDFF7] hover:bg-[#AEDFF7]/80   font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center ">
        <%= image_tag 'x-twitter-brands.svg',width: '20px' %><p>&emsp;しぇあ</p>
      </button>
    </div>
    <%# 隠しボタン %>
    <div class="my-12 hidden" id="secret-button">
      <button type='button' id='secret-x-post-button' class="text-black bg-[#AEDFF7] hover:bg-[#AEDFF7]/80   font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center ">
        <%= image_tag 'x-twitter-brands.svg',width: '20px' %><p>&emsp;かくししぇあ</p>
      </button>
    </div>
  </div>
  
</main>

<footer>
</footer>

