<header>
</header>

<main class="max-w-2xs mx-auto text-center my-32">
  <div class="text-center">
    <p class="text-3xl">みんなの&nbsp;らんぱすー</p>
    <p class="text-6xl mt-6 font-normal", id="all_click_count"><%= @count&.count %></p>
  </div>

  <%= audio_tag "/ranpath.wav", id: "audio-play" %>

  <%= form_with url: clickcounts_path, method: :post, local: false, data: { turbo_method: :post } do |f| %>
    <%= f.submit 'らんぱすー', id: "audio-btn", 
        class: "my-12 group relative inline-flex h-12 items-center justify-center overflow-hidden 
                rounded-md bg-[#F4A261] hover:bg-[#F29E4C] hover:[box-shadow:0px_4px_1px_#C65D3D] 
                p-10 font-medium text-white text-3xl leading-0 transition-all [box-shadow:0px_4px_1px_#E76F51] 
                active:translate-y-[2px] active:shadow-none" %>
  <% end %>
  
  <div id="volume-loud" class="mt-6" >
    <%= image_tag 'volume-loud.svg', class: 'mx-auto' %>
  </div>
  <div id="volume-mute", class="hidden mt-6">
    <%= image_tag 'volume-mute.svg', class: 'mx-auto'  %>
  </div>

  <%= form_with url: clickcount_path(id: 1), method: :delete do |f| %>
    <%= f.submit "リセット", 
        class: "my-12 group relative inline-flex h-12 items-center justify-center overflow-hidden
                rounded-md  bg-[#A8D5BA] hover:bg-[#95CBAF] hover:[box-shadow:0px_4px_1px_#69B37B] 
                px-10 font-medium text-white  transition-all [box-shadow:0px_4px_1px_#81C784] 
                active:translate-y-[2px] active:shadow-none" %>
  <% end %>


  <div class="mt-20">
    <div class="text-center">
      <P>おまえの&nbsp;らんぱすー</p>
      <button type='button' id='session-update-button' class='bg-[#A8D5BA] hover:bg-[#95CBAF] hover:[box-shadow:0px_4px_1px_#69B37B] text-white font-medium py-2 px-4 overflow-hidden rounded-md mt-4 transition-all [box-shadow:0px_4px_1px_#81C784] active:translate-y-[2px] active:shadow-none'>
        りろーど
      </button>
      <p class="text-3xl mt-6 font-normal", id="session_click_count">0</p>
    </div>

    <div class="my-12">
      <button type='button' id='x-post-button' class="text-black bg-[#AEDFF7] hover:bg-[#AEDFF7]/80 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55">
        <%= image_tag 'x-twitter-brands.svg',width: '20px' %><p>&emsp;しぇあ</p>
      </button>
    </div>
  </div>
</main>

<footer>
</footer>


