<header>
</header>

<main class="max-w-2xs mx-auto text-center my-32">
  <div class="text-center">
      <p class="text-4xl", id="click_count"><%= @count.count %></p>
  </div>

  <%= form_with url: clickcounts_path, method: :post, local: false, data: { turbo_method: :post } do |f| %>
    <%= f.submit :clickcount, class: "my-12 group relative inline-flex h-12 items-center justify-center overflow-hidden rounded-md border border-neutral-200 bg-orange-300 px-10 font-medium text-white transition-all [box-shadow:0px_4px_1px_#ffa500] active:translate-y-[2px] active:shadow-none" %>
  <% end %>

  <%= form_with url: clickcount_path(id: 1), method: :delete do |f| %>
    <%= f.submit "リセット", class: "my-12 group relative inline-flex h-12 items-center justify-center overflow-hidden rounded-md border border-neutral-200 bg-green-300 px-10 font-medium text-white transition-all [box-shadow:0px_4px_1px_#ffa500] active:translate-y-[2px] active:shadow-none" %>
  <% end %>
  

  <div class="mt-40">
    <div class="text-center">
      <p class="text-4xl"><%= @count.count %></p>
    </div>

    <div class="my-12">
      <button class="text-white bg-[#1da1f2] hover:bg-[#1da1f2]/90 focus:ring-4 focus:outline-none focus:ring-[#1da1f2]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-[#1da1f2]/55">
        ああああ
      </button>
    </div>
  </div>
</main>

<footer>
</footer>


